
header, nav, section, article, footer
{
    border: 1px solid #ccc;
}
body
{
    background-image: url(kep.png);
}
h2{text-align: center;}
header
{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}
.container
{
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
nav
{
    width: 10%;
    min-width: 200px;
    height: 1100px;
    float: left;
    margin: 0 30px 0 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;


}
section
{
    width: 89%;
    height: 1100px;
    max-width: 800px;
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
article
{
    width: 96%;
    max-width: 700px;
    height: 950px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    line-height: 1.5em;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}
article img
{
    float: left;
    margin-right: 20px;
}
footer
{
    width: 100%;
    height: 100px;
    float: left;
    margin: 10px 0 20px 0;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
}
#logo
{
    float: left;
    width: 210px;
    height: 170px;
    margin: 5px 0 5px 10px;
}
#banner-content {
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
}
#banner-content a
{
    text-decoration: none;
    color: orange;
    font-size: 1.5em,;
}
#banner-content a:hover
{
    text-decoration: underline;
}
#menu li
{
    list-style-type: none;
}
#menu ul li a
{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 3px;
    display: block;
    background-color: #ccc;
    text-align: center;
}
#menu ul li a:hover
{
    background-color: orange;
    color: white;
}
#menu ul ul a 
{
    position: relative;
    bottom: 20px;
    left: 100%;
    display: none;
}
#menu ul li:hover > ul a
{
    display: block;
}