.heart 
{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(45deg) translate(10px, 10px);
}

.heart::before
{
    content: "";
    width: 100px;
    height: 100px;
    background-color:red;
    position: absolute;
    top: -50px;
    left: 0;   
    border-radius: 50%; 
}
.heart::after
{
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 50px;   
    border-radius: 50%; 
}
.center{
    width: 100px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}
